<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid d-flex">
    <a class="navbar-brand" routerLink="/">Recipe book</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse d-flex justify-content-between pr-5" id="navbarSupportedContent">
      <ul class="navbar-nav nav-list">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" style="cursor: pointer;" routerLink="/recipes">
            Recipes
          </a>
        </li>


        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" style="cursor: pointer;" routerLink="/shopping-list">
            Shopping list
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav">

        <ng-template [ngIf]="isNotAuth()">

          <li class="nav-item">
            <a routerLink="/signup" class="nav-link" style="cursor: pointer;">Register</a>
          </li>

          <li class="nav-item">
            <a routerLink="/signin" class="nav-link" style="cursor: pointer;">Sign In</a>
          </li>
        </ng-template>


        <li class="nav-item">
          <a class="nav-link" style="cursor:pointer;" (click)="onSignOut()" *ngIf="isAuth()"> Sign Out </a>
        </li>

        <li class=" nav-item dropdown " appDropdown *ngIf="isAuth() ">
          <a class="nav-link dropdown-toggle " role="button " style="cursor: pointer; " id="navbarDropdown" data-toggle="dropdown "
            aria-haspopup="true " aria-expanded="false ">
            Manage
          </a>
          <div class="dropdown-menu " #dropdown aria-labelledby="navbarDropdown">

            <a class="dropdown-item " style="cursor: pointer; " (click)="onSaveData() ">Save data</a>

            <a class="dropdown-item " style="cursor: pointer; " (click)="onFetchData() ">Fetch data</a>

          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
